#pic1{
	align-content: center;
	justify-content: center;
	padding-left: 400px;
	width: 500px;
	height: 500px;
}

#next{
	float:right;
	/*padding-right: 200px;*/
	color: red;

}

#back{
	float: left;
	color: red;
	/*padding-left: 200px;*/
}