body{
	/*background-color: #996633;*/
	background-color: seagreen;
}

.heading{
	/*font-family: 'Pacifico', cursive;*/
	font-family: 'Dancing Script', cursive;
	font-size: 5em;
	height: 0.25em;
	padding-bottom: 50px;
	text-shadow: inherit;
}

.text{
	font-size: 2em;
}

a{
	color: white;
	align-content: center;
	font-size: 2em;
	padding-left: 650px;
	padding-top: 700px;
}