body{
	margin:0px;
	background-color: black;
}

.container{
	dispay:grid;
	grid-template-columns: 1fr;
}


.nav-wrapper{
	color: white;
	display: flex;
	justify-content: space-between;
	padding: 38px;
}

.left{
	display: flex;
}

.nav-wrapper > .left > div{
	margin-right: 20px;
	font-size: 0.9em;
	text-transform: uppercase;
}

.nav-link-wrap{
	height: 22px;
	border-bottom: 1px solid transparent;
	transition: border-bottom 0.5s;
}

.nav-link-wrap a{
	color: white; 
	text-decoration: none;
	transition: color 0.5s;
}

.nav-link-wrap:hover{
	border-bottom: 1px solid white;
}

.nav-link-wrap a:hover{
	color: white;
}

p{
	/*font-family: 'Pacifico', cursive;*/
	font-family: 'Dancing Script', cursive;
	font-size: 7em;
	height: 0.25em;
	padding-bottom: 50px;
	color: white;
}

.portfolios{
	display:grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.portfolio{
	position: relative;
}

.portfolio-img-background{
	height: 350px;
	width: 100%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	border: solid;
	/*border-width: 2em;*/
	border-color:white;
}
.img-text{
	position: absolute;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	text-align: center;
	padding-left: 100px;
	padding-right: 100px;
}

.img-text .subtitle{
	transition:1s;
	font-weight:600;
	font-size: 50;
	color:transparent;
	font-family: 'Dancing Script', cursive;
	text-align: center;
	justify-content: center;
}


.img-text:hover .subtitle{
	font-weight: 600;
	font-size: 50;
	color: 990000;
	font-family: 'Dancing Script', cursive;
	text-align: center;
	justify-content: center;
	text-shadow: 2px 2px black;
	text-overflow: ellipsis;
}

.img-darken{
	transition: 1s;
	filter: brightness(10%);

}

h1{
	font-family: Mistral;
}
